audio/
.vs/
.vscode/
data/hw_settings.ini
data/user_settings.ini
data/sbitx.db
sbitx
sbitx-fast
sbitx_wisdom.wis
sbitx_wisdom_f.wis
web/grids.txt
web/*.mc
*.gcda
src/ft8_lib/libft8.a
docs/Wiki-Resources
